{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'images/favicon-32x32.png' %}"
      alt="My site icon"
    />
    <link rel="stylesheet" href="{% static 'css/base.css'  %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <title>Connectly</title>
    {% block head %} {% endblock %}
  </head>
  <body>
    <header class="site-header">
      <div class="header-logo-container">
        <a href="{% url 'home'%}">Connectly</a>
      </div>
      <nav>
        <ul class="nav-list">
          {% if user.is_authenticated %}
          <li>
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="fas fa-sign-out-alt"></button>
            </form>
          </li>
          <li>
            <a href="{% url 'user_feed' %}" class="fas fa-compass"></a>
          </li>
          <li>
            <a href="{% url 'post-create' %}" class="fas fa-plus-circle"></a>
          </li>
          <li>
            <a href="{% url 'user_posts' %}" class="fas fa-user"></a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'home' %}" class="fas fa-right-to-bracket"></a>
          </li>
          <li>
            <a href="{% url 'signup' %}" class="fas fa-user-plus"></a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer class="site-footer">
      <p>&copy; {% now "Y" %} Connectly. All rights reserved.</p>
    </footer>
  </body>
</html>
