{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/posts/user_feed.css' %}" />
{% endblock %}
{% block content %}
<h1>Welcome, {{ user.username }}!</h1>

</section>

<section class="post-list">
  {% for post in posts %}
  <article class="post-item">
    <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
    <p>{{ post.body|truncatewords:30 }}</p>
    <p>Tags: {{ post.tags }}</p>
     {% if post.image %}
      <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-img" />
      {% endif %}
    <p>Posted by: {{ post.user.username }}</p>
  </article>
  {% empty %}
  <p>No posts available.</p>
  {% endfor %} {% endblock %}
</section>
