{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/posts/user_feed.css' %}" />
{% endblock %}
{% block content %}
<section class="page-header">
  <h1>My Feed (All Posts)</h1>
</section>
<section class="filter-search">
<form method="get" class="feed-filters">
  <fieldset>
    <legend>Continents</legend>
    {% for cont in continents %}
      <label>
        <input type="checkbox" name="continents" value="{{ cont }}"
    {% if cont in selected_continents %}checked{% endif %}>
    {{ cont }}
</label><br>
    {% endfor %}
  </fieldset>

  <label for="countries">Countries</label><br>
  <select name="countries" id="countries" multiple>
    {% for country in countries %}
      <option value="{{ country }}"
        {% if country in selected_countries %}selected{% endif %}>
        {{ country }}
      </option>
    {% endfor %}
  </select><br><br>

  <button type="submit">Apply Filters</button>
</form>
</section>
<section class="post-list">
  {% for post in posts %}
  <article class="post-item">
    <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
    <p>{{ post.body|truncatewords:30 }}</p>
    <p>Tags: {{ post.tags }}</p>
    <p>Posted by: {{ post.user.username }}</p>
  </article>
  {% empty %}
  <p>No posts available.</p>
  {% endfor %}
</section>
{% endblock %}
